* {
    margin: 0;
    padding: 0;
}

body {
    width: 900px;
    background-color: #b2e6d5;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-top: 24px;
}

footer {
    margin-top: 64px;
    margin-bottom: 32px;
    text-align: center;
}

nav {
    font-size: 25px;
    margin-top: 16px;
    margin-bottom: 64px;
    text-align: center;
}

nav a {
    font-family: 'Tahoma', cursive;
    font-size: 32px;
    margin-left: 8px;
    margin-right: 8px;
}

p {
    font-family: 'Roboto Slab', serif;
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 160%;
    color: #ccfff;
}

h1 {
    font-size: 70px;
    margin-bottom: 16px;
    text-align: center;
    font-family: 'Verdana', cursive;
    color: white;
}

h2 {
    font-size: 26px;
    font-family: 'Verdana', cursive;
    color: white;
    text-align: left;
}
    
h3 {
    font-size: 16px;
    font-family: 'Verdana', cursive;
    color: white;
    text-align: left;
}
    
h4 {
    font-size: 40px;
    font-family: 'Verdana', cursive;
    color: black;
    text-align: center; 
    
}

h5 {
    font-size: 30px;
    font-family: 'Verdana', cursive;
    color: black;
    text-align: center; 
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: blue;

}

ol {
list-style-type: none;
color: white;
}

<iframe 
src="https://www.youtube.com/embed/thGrXvHWZ9w: width="200" height="200" align="center">
</iframe>

              

 